[Interface]
PrivateKey = {{client_private_key}}
Address = 10.12.12.2/24
DNS = {{dns}}

#Tweak Me
#MTU = 1280

PostUp = iptables -t nat -A POSTROUTING -o {{ext_iface}} -j MASQUERADE
PostUp = iptables -t nat -A PREROUTING -p tcp -i wg0 --dport 443 -j DNAT --to 192.168.1.150:443

[Peer]
PublicKey = {{server_pubkey}}
AllowedIPs = 10.12.12.0/0
Endpoint = {{server_ip}}:{{server_port}}
PersistentKeepalive = 25

