[Interface]
PrivateKey = {{private_key}}
Address = 10.12.12.1/24
ListenPort = {{wireguard_port}}
SaveConfig = true

PostUp = iptables -A INPUT -i wg0 -j ACCEPT
PostUp = iptables -t nat -I POSTROUTING -o {{ext_iface}} -j MASQUERADE
PostUp = iptables -A INPUT -p tcp --dport 22 -j ACCEPT
PostUp = iptables -A INPUT -p udp --dport {{wireguard_port}} -j ACCEPT
PostUp = iptables -A FORWARD -i wg0 -o {{ext_iface}} -j ACCEPT

PostDown = iptables -D FORWARD -i wg0 -o {{ext_iface}} -j ACCEPT
PostDown = iptables -D INPUT -p tcp --dport 22 -j ACCEPT
PostDown = iptables -D INPUT -p udp --dport {{wireguard_port}} -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -o {{ext_iface}} -j MASQUERADE
PostDown = iptables -D INPUT -i wg0 -j ACCEPT

[Peer]
PublicKey = {{peer_pubkey}}
AllowedIPs = 10.12.12.2/24